@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
}
.navbar {
  display: flex;
  justify-content: center;
  width: 200px;
  background-color: #24405f;
  height: 100vh;
  position: fixed;
  padding: 5px;
}
.navbar ul {
  margin-top: 50px;
  list-style: none;
  height: fit-content;
  width: 100%;
}
.navbar ul li {
  color: white;
  margin: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
li:hover {
  background-color: #3a5a86;
  cursor: pointer;
}
.logout:hover {
  background-color: #a84c32;
  cursor: pointer;
}
.selected {
  background-color: #1b2a3f;
}
.selected:hover {
  background-color: #1b2a3f;
}
